body {background : white;
   }
    .font1 { font-family: sans-serif;
        font-size : 20pt;
        font-weight: bold;
        text-align: center;
    }
    .font2{font-family: monospace;
        font-size: 15pt;
             letter-spacing: 1pt;
    text-align: left;
    text-indent: 5pt;
    line-height: 2;
    font-weight: 700;
}
.font3{font-family: monospace;
font-size: 12pt;
font-weight: 700;
line-height: 1;
text-indent: 5;
}
.font4{font-family: serif;
font-size: 15pt;
font-weight: 900;
}
table{table-layout: auto;  width:800; height:600; border-style:double; margin:auto;  padding:10; }
.table2{table-layout: auto; width:800; height:600; border-style:solid; margin: auto; padding:0; }
th{height:100;}